.button {
  cursor: pointer;
  display: inline-block;
  padding-block: 12px;
  padding-inline: 32px;
  font-size: 14px;
  border-radius: 28px;
}
.button--primary {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.button--secondary {
  color: white;
  background-color: black;
  border: 1px solid black;
}
.arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.arrow--primary {
    color: white;
    background-color: white;
    border: 1px solid black;
  }
.arrow--secondary {
    color: white;
    background-color: black;
    border: 1px solid black;
  }
  